body {
  background-color: #000000;
}
h1 {
  text-align: center;
  color: #FFFFFF;
}
.pwat-img, button {
  width: 60%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding: 10px;
}

