body {
  background-color: #25002E;
}
h1, p, .page-links {
  text-align: center;
  color: #FFFFFF;
}
a {
  color: #EEA3FF;
}
.pwat-img, button {
  width: 60%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding: 10px;
}

